* {
    box-sizing: border-box;
}
  
.row {
  margin-left: 5px;
}

.column {
  padding: 5px;
}

img {
    width: 50px;
}

.red {
  color: #ff0000;
}

.green {
  color: #009b00;
}

.blue {
  color: #0a2aca;
}